<h2> How to import a CSV file into a MySQL database using python script?</h2>
<h3>Using iris data, we will learn how to import a CSV file into a MySQL database using python script.</h3>
<hr>

## Prerequisites

<h3>Python 3.8.3, MySQL 8.0.17, mysql-connector-python</h3>

<h3>To perform this task, you will need to:</h3><br>
<ol>
    <h5><li>Prepare or identify your data</li></h5>
    <h5><li>Connect to MySQL and create a database</li></h5>
    <h5><li>Create a table and Import the CSV data into the MySQL database</li></h5>
</ol>

### Step 1: Prepare or identify your data

To begin, prepare or identify the CSV file that you'd like to import to MySQL database. For example, I loaded a iris data from sklearn.datasets.

or you can read data from your disk and import, for example, I read data from my Github account.

In [167]:
import pandas as pd
irisData = pd.read_csv('https://github.com/Muhd-Shahid/Write-Raw-File-into-Database-Server/raw/main/iris.csv',index_col=False)
irisData.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Where, data is the comma delimiter. Each line of the CSV file is terminated by a newline character.

### Step 2: Connect to the MySQL and create a database

Now let's create connection object to connect to MySQL server.
The connect() constructor creates a connection to the MySQL server and returns a MySQLConnection object.

In [168]:
import mysql.connector as msql
from mysql.connector import Error
try:
    conn = msql.connect(host='localhost', user='root', password='sql@123')
    if conn.is_connected():
        cursor = conn.cursor()
        record = cursor.fetchone()
        print("You're connected: ", record)
        cursor.execute('DROP DATABASE IF EXISTS irisDB;')
        cursor.execute("CREATE DATABASE irisDB")
        print("irisDB database is created")
        
except Error as e:
    print("Error while connecting to MySQL", e)

You're connected:  None
irisDB database is created

<h3> Step 3 : Create a table & Import the CSV data into the MySQL table</h3>
<h5>3.1 : Inserting Pandas DataFrames Into Databases Using INSERT</h5>

First, we will insure that column and datatype parameters in the SQL table that we will create must match the number of columns and data types of the CSV file.

In [136]:
irisData.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

We will create iris table under irisDB database and insert the records in MySQL server.

In [170]:
try:
    conn = mysql.connect(host='localhost', database='irisDB', user='root', password='sql@123')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS iris;')
        print('Creating table....')
        cursor.execute("CREATE TABLE iris (sepal_length FLOAT(2,1) NOT NULL, sepal_width FLOAT(2,1) NOT NULL, petal_length FLOAT(2,1) NOT NULL, petal_width FLOAT(2,1),species CHAR(11)NOT NULL)")
        print("iris table is created....")
        for i,row in irisData.iterrows():
            sql = "INSERT INTO irisdb.iris VALUES (%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            #print("Record inserted")
            # the connection is not autocommitted by default, so we must commit to save our changes
            conn.commit()
except Error as e:
    print("Error while connecting to MySQL", e)

You're connected to database:  ('irisdb',)
Creating table....
iris table is created....
MySQL connection is closed

<h4>3.1.1 : Query the database to check our work</h4>

let's query the database to make sure that our inserted data has been saved correctly.

In [171]:
# Execute query
sql = "SELECT * FROM iris"
cursor.execute(sql)

# Fetch all the records
result = cursor.fetchall()
for i in result:
    print(i)

(5.1, 3.5, 1.4, 0.2, 'setosa')
(4.9, 3.0, 1.4, 0.2, 'setosa')
(4.7, 3.2, 1.3, 0.2, 'setosa')
(4.6, 3.1, 1.5, 0.2, 'setosa')
(5.0, 3.6, 1.4, 0.2, 'setosa')
(5.4, 3.9, 1.7, 0.4, 'setosa')
(4.6, 3.4, 1.4, 0.3, 'setosa')
(5.0, 3.4, 1.5, 0.2, 'setosa')
(4.4, 2.9, 1.4, 0.2, 'setosa')
(4.9, 3.1, 1.5, 0.1, 'setosa')
(5.4, 3.7, 1.5, 0.2, 'setosa')
(4.8, 3.4, 1.6, 0.2, 'setosa')
(4.8, 3.0, 1.4, 0.1, 'setosa')
(4.3, 3.0, 1.1, 0.1, 'setosa')
(5.8, 4.0, 1.2, 0.2, 'setosa')
(5.7, 4.4, 1.5, 0.4, 'setosa')
(5.4, 3.9, 1.3, 0.4, 'setosa')
(5.1, 3.5, 1.4, 0.3, 'setosa')
(5.7, 3.8, 1.7, 0.3, 'setosa')
(5.1, 3.8, 1.5, 0.3, 'setosa')
(5.4, 3.4, 1.7, 0.2, 'setosa')
(5.1, 3.7, 1.5, 0.4, 'setosa')
(4.6, 3.6, 1.0, 0.2, 'setosa')
(5.1, 3.3, 1.7, 0.5, 'setosa')
(4.8, 3.4, 1.9, 0.2, 'setosa')
(5.0, 3.0, 1.6, 0.2, 'setosa')
(5.0, 3.4, 1.6, 0.4, 'setosa')
(5.2, 3.5, 1.5, 0.2, 'setosa')
(5.2, 3.4, 1.4, 0.2, 'setosa')
(4.7, 3.2, 1.6, 0.2, 'setosa')
(4.8, 3.1, 1.6, 0.2, 'setosa')
(5.4, 3.4, 1.5, 0.4, 'setosa')
(5.2, 4.1, 1.5, 0.1, 'setosa')
(5.5, 4.2, 1.4, 0.2, 'setosa')
(4.9, 3.1, 1.5, 0.2, 'setosa')
(5.0, 3.2, 1.2, 0.2, 'setosa')
(5.5, 3.5, 1.3, 0.2, 'setosa')
(4.9, 3.6, 1.4, 0.1, 'setosa')
(4.4, 3.0, 1.3, 0.2, 'setosa')
(5.1, 3.4, 1.5, 0.2, 'setosa')
(5.0, 3.5, 1.3, 0.3, 'setosa')
(4.5, 2.3, 1.3, 0.3, 'setosa')
(4.4, 3.2, 1.3, 0.2, 'setosa')
(5.0, 3.5, 1.6, 0.6, 'setosa')
(5.1, 3.8, 1.9, 0.4, 'setosa')
(4.8, 3.0, 1.4, 0.3, 'setosa')
(5.1, 3.8, 1.6, 0.2, 'setosa')
(4.6, 3.2, 1.4, 0.2, 'setosa')
(5.3, 3.7, 1.5, 0.2, 'setosa')
(5.0, 3.3, 1.4, 0.2, 'setosa')
(7.0, 3.2, 4.7, 1.4, 'versicolor')
(6.4, 3.2, 4.5, 1.5, 'versicolor')
(6.9, 3.1, 4.9, 1.5, 'versicolor')
(5.5, 2.3, 4.0, 1.3, 'versicolor')
(6.5, 2.8, 4.6, 1.5, 'versicolor')
(5.7, 2.8, 4.5, 1.3, 'versicolor')
(6.3, 3.3, 4.7, 1.6, 'versicolor')
(4.9, 2.4, 3.3, 1.0, 'versicolor')
(6.6, 2.9, 4.6, 1.3, 'versicolor')
(5.2, 2.7, 3.9, 1.4, 'versicolor')
(5.0, 2.0, 3.5, 1.0, 'versicolor')
(5.9, 3.0, 4.2, 1.5, 'versicolor')
(6.0, 2.2, 4.0, 1.0, 'versicolor')
(6.1, 2.9, 4.7, 1.4, 'versicolor')
(5.6, 2.9, 3.6, 1.3, 'versicolor')
(6.7, 3.1, 4.4, 1.4, 'versicolor')
(5.6, 3.0, 4.5, 1.5, 'versicolor')
(5.8, 2.7, 4.1, 1.0, 'versicolor')
(6.2, 2.2, 4.5, 1.5, 'versicolor')
(5.6, 2.5, 3.9, 1.1, 'versicolor')
(5.9, 3.2, 4.8, 1.8, 'versicolor')
(6.1, 2.8, 4.0, 1.3, 'versicolor')
(6.3, 2.5, 4.9, 1.5, 'versicolor')
(6.1, 2.8, 4.7, 1.2, 'versicolor')
(6.4, 2.9, 4.3, 1.3, 'versicolor')
(6.6, 3.0, 4.4, 1.4, 'versicolor')
(6.8, 2.8, 4.8, 1.4, 'versicolor')
(6.7, 3.0, 5.0, 1.7, 'versicolor')
(6.0, 2.9, 4.5, 1.5, 'versicolor')
(5.7, 2.6, 3.5, 1.0, 'versicolor')
(5.5, 2.4, 3.8, 1.1, 'versicolor')
(5.5, 2.4, 3.7, 1.0, 'versicolor')
(5.8, 2.7, 3.9, 1.2, 'versicolor')
(6.0, 2.7, 5.1, 1.6, 'versicolor')
(5.4, 3.0, 4.5, 1.5, 'versicolor')
(6.0, 3.4, 4.5, 1.6, 'versicolor')
(6.7, 3.1, 4.7, 1.5, 'versicolor')
(6.3, 2.3, 4.4, 1.3, 'versicolor')
(5.6, 3.0, 4.1, 1.3, 'versicolor')
(5.5, 2.5, 4.0, 1.3, 'versicolor')
(5.5, 2.6, 4.4, 1.2, 'versicolor')
(6.1, 3.0, 4.6, 1.4, 'versicolor')
(5.8, 2.6, 4.0, 1.2, 'versicolor')
(5.0, 2.3, 3.3, 1.0, 'versicolor')
(5.6, 2.7, 4.2, 1.3, 'versicolor')
(5.7, 3.0, 4.2, 1.2, 'versicolor')
(5.7, 2.9, 4.2, 1.3, 'versicolor')
(6.2, 2.9, 4.3, 1.3, 'versicolor')
(5.1, 2.5, 3.0, 1.1, 'versicolor')
(5.7, 2.8, 4.1, 1.3, 'versicolor')
(6.3, 3.3, 6.0, 2.5, 'virginica')
(5.8, 2.7, 5.1, 1.9, 'virginica')
(7.1, 3.0, 5.9, 2.1, 'virginica')
(6.3, 2.9, 5.6, 1.8, 'virginica')
(6.5, 3.0, 5.8, 2.2, 'virginica')
(7.6, 3.0, 6.6, 2.1, 'virginica')
(4.9, 2.5, 4.5, 1.7, 'virginica')
(7.3, 2.9, 6.3, 1.8, 'virginica')
(6.7, 2.5, 5.8, 1.8, 'virginica')
(7.2, 3.6, 6.1, 2.5, 'virginica')
(6.5, 3.2, 5.1, 2.0, 'virginica')
(6.4, 2.7, 5.3, 1.9, 'virginica')
(6.8, 3.0, 5.5, 2.1, 'virginica')
(5.7, 2.5, 5.0, 2.0, 'virginica')
(5.8, 2.8, 5.1, 2.4, 'virginica')
(6.4, 3.2, 5.3, 2.3, 'virginica')
(6.5, 3.0, 5.5, 1.8, 'virginica')
(7.7, 3.8, 6.7, 2.2, 'virginica')
(7.7, 2.6, 6.9, 2.3, 'virginica')
(6.0, 2.2, 5.0, 1.5, 'virginica')
(6.9, 3.2, 5.7, 2.3, 'virginica')
(5.6, 2.8, 4.9, 2.0, 'virginica')
(7.7, 2.8, 6.7, 2.0, 'virginica')
(6.3, 2.7, 4.9, 1.8, 'virginica')
(6.7, 3.3, 5.7, 2.1, 'virginica')
(7.2, 3.2, 6.0, 1.8, 'virginica')
(6.2, 2.8, 4.8, 1.8, 'virginica')
(6.1, 3.0, 4.9, 1.8, 'virginica')
(6.4, 2.8, 5.6, 2.1, 'virginica')
(7.2, 3.0, 5.8, 1.6, 'virginica')
(7.4, 2.8, 6.1, 1.9, 'virginica')
(7.9, 3.8, 6.4, 2.0, 'virginica')
(6.4, 2.8, 5.6, 2.2, 'virginica')
(6.3, 2.8, 5.1, 1.5, 'virginica')
(6.1, 2.6, 5.6, 1.4, 'virginica')
(7.7, 3.0, 6.1, 2.3, 'virginica')
(6.3, 3.4, 5.6, 2.4, 'virginica')
(6.4, 3.1, 5.5, 1.8, 'virginica')
(6.0, 3.0, 4.8, 1.8, 'virginica')
(6.9, 3.1, 5.4, 2.1, 'virginica')
(6.7, 3.1, 5.6, 2.4, 'virginica')
(6.9, 3.1, 5.1, 2.3, 'virginica')
(5.8, 2.7, 5.1, 1.9, 'virginica')
(6.8, 3.2, 5.9, 2.3, 'virginica')
(6.7, 3.3, 5.7, 2.5, 'virginica')
(6.7, 3.0, 5.2, 2.3, 'virginica')
(6.3, 2.5, 5.0, 1.9, 'virginica')
(6.5, 3.0, 5.2, 2.0, 'virginica')
(6.2, 3.4, 5.4, 2.3, 'virginica')
(5.9, 3.0, 5.1, 1.8, 'virginica')

<h2>3.2 : Inserting Pandas DataFrames into a Database Using the to_sql() Function</h2>

In [116]:
# import the module
from sqlalchemy import create_engine

In [117]:
# import the module
from sqlalchemy import create_engine

# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="sql@123",
                               db="irisdb"))

In [118]:
# Insert whole DataFrame into MySQL
irisData.to_sql('iris', con = engine, if_exists = 'append', chunksize = 1000,index=False)

<h5>What's happening here?</h5><br>
<ul>
    <li>book_details is the name of table into which we want to insert our DataFrame.</li><br>
    <li>con = engine provides the connection details (recall that we created engine using our authentication details in the previous step).</li><br>
    <li>if_exists = 'append'checks whether the table we specified already exists or not, and then appends the new data (if it does exist) or creates a new table (if it doesn't).</li><br>
    <li>chunksize writes records in batches of a given size at a time. By default, all rows will be written at once.</li>
</ul><br>

<h3>3.2.1 : Query the database to check our work</h3>

In [172]:
# Execute query
sql = "SELECT * FROM iris"
cursor.execute(sql)
# Fetch all the records
result = cursor.fetchall()
for i in result:
    print(i)

(5.1, 3.5, 1.4, 0.2, 'setosa')
(4.9, 3.0, 1.4, 0.2, 'setosa')
(4.7, 3.2, 1.3, 0.2, 'setosa')
(4.6, 3.1, 1.5, 0.2, 'setosa')
(5.0, 3.6, 1.4, 0.2, 'setosa')
(5.4, 3.9, 1.7, 0.4, 'setosa')
(4.6, 3.4, 1.4, 0.3, 'setosa')
(5.0, 3.4, 1.5, 0.2, 'setosa')
(4.4, 2.9, 1.4, 0.2, 'setosa')
(4.9, 3.1, 1.5, 0.1, 'setosa')
(5.4, 3.7, 1.5, 0.2, 'setosa')
(4.8, 3.4, 1.6, 0.2, 'setosa')
(4.8, 3.0, 1.4, 0.1, 'setosa')
(4.3, 3.0, 1.1, 0.1, 'setosa')
(5.8, 4.0, 1.2, 0.2, 'setosa')
(5.7, 4.4, 1.5, 0.4, 'setosa')
(5.4, 3.9, 1.3, 0.4, 'setosa')
(5.1, 3.5, 1.4, 0.3, 'setosa')
(5.7, 3.8, 1.7, 0.3, 'setosa')
(5.1, 3.8, 1.5, 0.3, 'setosa')
(5.4, 3.4, 1.7, 0.2, 'setosa')
(5.1, 3.7, 1.5, 0.4, 'setosa')
(4.6, 3.6, 1.0, 0.2, 'setosa')
(5.1, 3.3, 1.7, 0.5, 'setosa')
(4.8, 3.4, 1.9, 0.2, 'setosa')
(5.0, 3.0, 1.6, 0.2, 'setosa')
(5.0, 3.4, 1.6, 0.4, 'setosa')
(5.2, 3.5, 1.5, 0.2, 'setosa')
(5.2, 3.4, 1.4, 0.2, 'setosa')
(4.7, 3.2, 1.6, 0.2, 'setosa')
(4.8, 3.1, 1.6, 0.2, 'setosa')
(5.4, 3.4, 1.5, 0.4, 'setosa')
(5.2, 4.1, 1.5, 0.1, 'setosa')
(5.5, 4.2, 1.4, 0.2, 'setosa')
(4.9, 3.1, 1.5, 0.2, 'setosa')
(5.0, 3.2, 1.2, 0.2, 'setosa')
(5.5, 3.5, 1.3, 0.2, 'setosa')
(4.9, 3.6, 1.4, 0.1, 'setosa')
(4.4, 3.0, 1.3, 0.2, 'setosa')
(5.1, 3.4, 1.5, 0.2, 'setosa')
(5.0, 3.5, 1.3, 0.3, 'setosa')
(4.5, 2.3, 1.3, 0.3, 'setosa')
(4.4, 3.2, 1.3, 0.2, 'setosa')
(5.0, 3.5, 1.6, 0.6, 'setosa')
(5.1, 3.8, 1.9, 0.4, 'setosa')
(4.8, 3.0, 1.4, 0.3, 'setosa')
(5.1, 3.8, 1.6, 0.2, 'setosa')
(4.6, 3.2, 1.4, 0.2, 'setosa')
(5.3, 3.7, 1.5, 0.2, 'setosa')
(5.0, 3.3, 1.4, 0.2, 'setosa')
(7.0, 3.2, 4.7, 1.4, 'versicolor')
(6.4, 3.2, 4.5, 1.5, 'versicolor')
(6.9, 3.1, 4.9, 1.5, 'versicolor')
(5.5, 2.3, 4.0, 1.3, 'versicolor')
(6.5, 2.8, 4.6, 1.5, 'versicolor')
(5.7, 2.8, 4.5, 1.3, 'versicolor')
(6.3, 3.3, 4.7, 1.6, 'versicolor')
(4.9, 2.4, 3.3, 1.0, 'versicolor')
(6.6, 2.9, 4.6, 1.3, 'versicolor')
(5.2, 2.7, 3.9, 1.4, 'versicolor')
(5.0, 2.0, 3.5, 1.0, 'versicolor')
(5.9, 3.0, 4.2, 1.5, 'versicolor')
(6.0, 2.2, 4.0, 1.0, 'versicolor')
(6.1, 2.9, 4.7, 1.4, 'versicolor')
(5.6, 2.9, 3.6, 1.3, 'versicolor')
(6.7, 3.1, 4.4, 1.4, 'versicolor')
(5.6, 3.0, 4.5, 1.5, 'versicolor')
(5.8, 2.7, 4.1, 1.0, 'versicolor')
(6.2, 2.2, 4.5, 1.5, 'versicolor')
(5.6, 2.5, 3.9, 1.1, 'versicolor')
(5.9, 3.2, 4.8, 1.8, 'versicolor')
(6.1, 2.8, 4.0, 1.3, 'versicolor')
(6.3, 2.5, 4.9, 1.5, 'versicolor')
(6.1, 2.8, 4.7, 1.2, 'versicolor')
(6.4, 2.9, 4.3, 1.3, 'versicolor')
(6.6, 3.0, 4.4, 1.4, 'versicolor')
(6.8, 2.8, 4.8, 1.4, 'versicolor')
(6.7, 3.0, 5.0, 1.7, 'versicolor')
(6.0, 2.9, 4.5, 1.5, 'versicolor')
(5.7, 2.6, 3.5, 1.0, 'versicolor')
(5.5, 2.4, 3.8, 1.1, 'versicolor')
(5.5, 2.4, 3.7, 1.0, 'versicolor')
(5.8, 2.7, 3.9, 1.2, 'versicolor')
(6.0, 2.7, 5.1, 1.6, 'versicolor')
(5.4, 3.0, 4.5, 1.5, 'versicolor')
(6.0, 3.4, 4.5, 1.6, 'versicolor')
(6.7, 3.1, 4.7, 1.5, 'versicolor')
(6.3, 2.3, 4.4, 1.3, 'versicolor')
(5.6, 3.0, 4.1, 1.3, 'versicolor')
(5.5, 2.5, 4.0, 1.3, 'versicolor')
(5.5, 2.6, 4.4, 1.2, 'versicolor')
(6.1, 3.0, 4.6, 1.4, 'versicolor')
(5.8, 2.6, 4.0, 1.2, 'versicolor')
(5.0, 2.3, 3.3, 1.0, 'versicolor')
(5.6, 2.7, 4.2, 1.3, 'versicolor')
(5.7, 3.0, 4.2, 1.2, 'versicolor')
(5.7, 2.9, 4.2, 1.3, 'versicolor')
(6.2, 2.9, 4.3, 1.3, 'versicolor')
(5.1, 2.5, 3.0, 1.1, 'versicolor')
(5.7, 2.8, 4.1, 1.3, 'versicolor')
(6.3, 3.3, 6.0, 2.5, 'virginica')
(5.8, 2.7, 5.1, 1.9, 'virginica')
(7.1, 3.0, 5.9, 2.1, 'virginica')
(6.3, 2.9, 5.6, 1.8, 'virginica')
(6.5, 3.0, 5.8, 2.2, 'virginica')
(7.6, 3.0, 6.6, 2.1, 'virginica')
(4.9, 2.5, 4.5, 1.7, 'virginica')
(7.3, 2.9, 6.3, 1.8, 'virginica')
(6.7, 2.5, 5.8, 1.8, 'virginica')
(7.2, 3.6, 6.1, 2.5, 'virginica')
(6.5, 3.2, 5.1, 2.0, 'virginica')
(6.4, 2.7, 5.3, 1.9, 'virginica')
(6.8, 3.0, 5.5, 2.1, 'virginica')
(5.7, 2.5, 5.0, 2.0, 'virginica')
(5.8, 2.8, 5.1, 2.4, 'virginica')
(6.4, 3.2, 5.3, 2.3, 'virginica')
(6.5, 3.0, 5.5, 1.8, 'virginica')
(7.7, 3.8, 6.7, 2.2, 'virginica')
(7.7, 2.6, 6.9, 2.3, 'virginica')
(6.0, 2.2, 5.0, 1.5, 'virginica')
(6.9, 3.2, 5.7, 2.3, 'virginica')
(5.6, 2.8, 4.9, 2.0, 'virginica')
(7.7, 2.8, 6.7, 2.0, 'virginica')
(6.3, 2.7, 4.9, 1.8, 'virginica')
(6.7, 3.3, 5.7, 2.1, 'virginica')
(7.2, 3.2, 6.0, 1.8, 'virginica')
(6.2, 2.8, 4.8, 1.8, 'virginica')
(6.1, 3.0, 4.9, 1.8, 'virginica')
(6.4, 2.8, 5.6, 2.1, 'virginica')
(7.2, 3.0, 5.8, 1.6, 'virginica')
(7.4, 2.8, 6.1, 1.9, 'virginica')
(7.9, 3.8, 6.4, 2.0, 'virginica')
(6.4, 2.8, 5.6, 2.2, 'virginica')
(6.3, 2.8, 5.1, 1.5, 'virginica')
(6.1, 2.6, 5.6, 1.4, 'virginica')
(7.7, 3.0, 6.1, 2.3, 'virginica')
(6.3, 3.4, 5.6, 2.4, 'virginica')
(6.4, 3.1, 5.5, 1.8, 'virginica')
(6.0, 3.0, 4.8, 1.8, 'virginica')
(6.9, 3.1, 5.4, 2.1, 'virginica')
(6.7, 3.1, 5.6, 2.4, 'virginica')
(6.9, 3.1, 5.1, 2.3, 'virginica')
(5.8, 2.7, 5.1, 1.9, 'virginica')
(6.8, 3.2, 5.9, 2.3, 'virginica')
(6.7, 3.3, 5.7, 2.5, 'virginica')
(6.7, 3.0, 5.2, 2.3, 'virginica')
(6.3, 2.5, 5.0, 1.9, 'virginica')
(6.5, 3.0, 5.2, 2.0, 'virginica')
(6.2, 3.4, 5.4, 2.3, 'virginica')
(5.9, 3.0, 5.1, 1.8, 'virginica')

In [175]:
if (conn.is_connected()):
    cursor.close()
    conn.close()
    print("MySQL connection is closed")

MySQL connection is closed

<h2>Conclusion</h2>

In this tutorial, We have discussed how to import Pandas DataFrames into MySQL databases using two different methods, including the highly efficient to_sql() method.